<header class="bg_animate">
    <section class="banner contenedor">
        <section class="banner_title">
            <h2>Bienvenidos</h2>
            <h2>a Angular</h2>
        </section>
        <div class="banner_img">
            <img src="../../../../assets/img/angular.png" alt="imagen">
        </div>
    </section>
        
    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>
</header>